{% extends "layout.html" %}
{% block title %} About {% endblock %}

{% block css %}{% endblock %}

{% block content %}
	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-body  contain-lg">
				<div class="row">
					<div class="col-xs-12">

						<h2 class="text-light text-center">Milestones</h2>

							<!-- BEGIN FIXED TIMELINE -->
							<ul class="timeline collapse-lg timeline-hairline">
								<li>
									<div class="timeline-circ circ-xl style-primary-dark"><span class="md md-access-time"></span></div>
									<div class="timeline-entry">
										<div class="card style-default-light">
											<div class="card-body small-padding">
												<span class="text-medium"> Different regions </span><br/>
												<span class="opacity-50">
													Down the road
												</span>
											</div><!--end .card-body -->
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
								<li>
									<div class="timeline-circ circ-xl style-primary-dark"><span class="md md-access-time"></span></div>
									<div class="timeline-entry">
										<div class="card style-default-light">
											<div class="card-body small-padding">
												<span class="text-medium"> Winrate stats, power spikes and more!  </span><br/>
												<span class="opacity-50">
													Coming Up
												</span>
											</div><!--end .card-body -->
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
								<li>
									<div class="timeline-circ circ-xl style-primary-dark"><span class="md md-access-time"></span></div>
									<div class="timeline-entry">
										<div class="card style-default-light">
											<div class="card-body small-padding">
												<span class="text-medium"> Compare yourself with the VG meta! </span><br/>
												<span class="opacity-50">
													Just around the corner!
												</span>
											</div><!--end .card-body -->
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
								<li>
									<div class="timeline-circ circ-xl style-primary"><i class="md md-check"></i></div>
									<div class="timeline-entry">
										<div class="card style-default-bright">
											<div class="card-body small-padding">
												<p>
													<span class="text-medium"> Telemetry data </span><br>
													<span class="opacity-50">
														In place
													</span>
												</p>
											</div>
										</div>
									</div><!--end .timeline-entry -->
								</li>
								<li class="timeline-inverted">
									<div class="timeline-circ circ-xl style-primary"><span class="fa fa-star"></span></div>
									<div class="timeline-entry">
										<div class="card style-default-bright">
											<div class="card-body small-padding">
												<span class="text-medium"> Launch <a class="text-primary" href="/index/">Vainglorious Meta</a></span><br/>
												<span class="opacity-50">
													March 2017
												</span>
											</div><!--end .card-body -->
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
							</ul>
							<!-- END FIXED TIMELINE -->

					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- END CONTENT -->
{% endblock %}

