{% extends "layout.html" %}
{% block title %} About {% endblock %}

{% block css %}{% endblock %}

{% block content %}
	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-body  contain-lg">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-light text-center">About</h2>
							<p> The idea for the site was born when I was looking for more information on my performance and my opponents on the Halcyon Fold. So I created a database for personal use and when the API was announced I decided to release this project to the public eye. </p>
						<br/>

						<h2 class="text-light text-center">Milestones</h2>

							<!-- BEGIN FIXED TIMELINE -->
							<ul class="timeline collapse-lg timeline-hairline">
								<li class="timeline-inverted">
									<div class="timeline-circ circ-xl style-primary"><span class="fa fa-star"></span></div>
									<div class="timeline-entry">
										<div class="card style-default-bright">
											<div class="card-body small-padding">
												<span class="text-medium"> Launch <a class="text-primary" href="/index/">Vainglorious Meta</a></span><br/>
												<span class="opacity-50">
													March 8, 2017
												</span>
											</div><!--end .card-body -->
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
							</ul>
							<!-- END FIXED TIMELINE -->

					</div>
				</div>
			</div>
		</section>
		<div class="push"></div>
	</div>
	<!-- END CONTENT -->
{% endblock %}

