{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/theme-default/libs/DataTables/jquery.dataTables.css?1423553989" />
<link type="text/css" rel="stylesheet" href="/static/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css?1423553990" />
<link type="text/css" rel="stylesheet" href="/static/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css?1423553990" />
<link type="text/css" rel="stylesheet" href="/static/css/theme-default/libs/rickshaw/rickshaw.css?1422792967" />
<link type="text/css" rel="stylesheet" href="/static/css/theme-default/libs/morris/morris.core.css?1420463396" />
<link type="text/css" rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %}

{% block content %}
	<!-- BEGIN CONTENT-->
	<div id="content">

		<section>

			<div class="section-body">
				<div class="row">
					<div class="css-carousel">
						<!-- BEGIN ALERT - GOLD -->
						<div class="col-md-3 col-sm-6">
							<div class="card">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-info no-margin">
										<img class="pull-right text-success hero-icon" src="https://s-media-cache-ak0.pinimg.com/564x/9a/b8/a5/9ab8a5d52931e8528f617cb18f7fd483.jpg" width="75px" height="75px"/>
										<strong id="games" class="text-xl"> {{ games }}</strong><br/>
										<span class="opacity-50">Vain crystals destroyed</span>
									</div>
								</div>
							</div>
						</div>
						<!-- END ALERT - GOLD -->

						<!-- BEGIN ALERT - KDA -->
						<div class="col-md-3 col-sm-6">
							<div class="card">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-warning no-margin">
										<strong id="players" class="text-xl">{{ players }}%</strong><br/>
										<span class="opacity-50">Number of players </span>
									</div>
								</div>
							</div>
						</div>
						<!-- END ALERT - KDA -->

						<!-- BEGIN ALERT - WIN RATE -->
						<div class="col-md-3 col-sm-6 hidden-xs">
							<div class="card css-img">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-danger no-margin">
										<img class="pull-right text-success hero-icon" src="http://i.imgur.com/2EPwPt7.jpg" width="75px" height="75px"/>
										<strong id="krakens" class="text-xl">{{ krakens | format_number }}</strong><br/>
										<span class="opacity-50">Krakens unleashed</span>
									</div>
								</div>
							</div>

							<div class="card css-img">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-success no-margin">
										<img class="pull-right text-success hero-icon" src="/static/img/items/halcyon-potion.png" width="75px" height="75px"/>
										<strong id="potions" class="text-xl">{{ potions | format_number }}</strong><br/>
										<span class="opacity-50">Potions used</span>
									</div>
								</div>
							</div>

							<div class="card css-img">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-info no-margin">
										<img class="pull-right text-success hero-icon" src="/static/img/items/fountain-of-renewal.png" width="75px" height="75px"/>
										<strong id="fountains" class="text-xl">{{ fountains | format_number }}</strong><br/>
										<span class="opacity-50">Fountains used</span>
									</div>
								</div>
							</div>
							<div class="card css-img">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-warning no-margin">
										<img class="pull-right text-success hero-icon" src="/static/img/minion.png" width="75px" height="75px"/>
										<strong class="text-xl">{{ minions | format_number }}</strong><br/>
										<span class="opacity-50">Minions killed</span>
									</div>
								</div>
							</div>
							<div class="card css-img">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-danger no-margin">
										<img class="pull-right text-success hero-icon" src="/static/img/items/scout-trap.png" width="75px" height="75px"/>
										<strong id="scouttraps" class="text-xl">{{ mines | format_number }}</strong><br/>
										<span class="opacity-50">Scout trap placed</span>
									</div>
								</div>
							</div>
							<div class="card css-img">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-success no-margin">
										<img class="pull-right text-success hero-icon" src="/static/img/items/weapon-infusion.png" width="75px" height="75px"/>
										<strong id="infusions" class="text-xl">{{ infusions | format_number }}</strong><br/>
										<span class="opacity-50">Infusions used</span>
									</div>
								</div>
							</div>
						</div>
						<!-- END ALERT - WIN RATE -->

						<!-- BEGIN ALERT - AVG GAME LENGTH -->
						<div class="col-md-3 col-sm-6">
							<div class="card">
								<div class="card-body no-padding">
									<div class="alert alert-callout alert-success no-margin">
										<h1 class="pull-right text-success"><i class="md md-timer"></i></h1>
										<strong id="duration" class="text-xl">{{ duration | convert_time }}</strong><br/>
										<span class="opacity-50">Hours well spent</span>
									</div>
								</div>
							</div>
						</div>
						<!-- END ALERT - AVG GAME LENGTH -->
					</div>
				</div>


				<div class="row">
					<!-- BEGIN HERO STATS -->
					<div class="col-md-12">
						<div class="card">
							<div class="card-head">
								<header class="text-primary">Hero winrates</header>
							</div>
							<div class="card-body">
								<div class="col-xs-12">
									<div class="controls">
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter="all">All</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter=".assassin">Assassin</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter=".mage">Mage</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter=".protector">Protector</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter=".sniper">Sniper</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter=".warrior">Warrior</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter=".lane">Lane</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright filter" data-filter=".jungle">Jungle</button>

										<button type="button" class="btn ink-reaction btn-flat btn-default-bright pull-right filter mixitup-control-active" data-sort="order:descending">Descending</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright pull-right filter" data-sort="order:asc">Ascending</button>

										<button type="button" class="btn ink-reaction btn-flat btn-default-bright pull-right filter" data-sort="playrate:descending">Descending</button>
										<button type="button" class="btn ink-reaction btn-flat btn-default-bright pull-right filter" data-sort="playrate:asc">Ascending</button>
									</div>
									<input type="text" class="form-control" id="filter" placeholder="Search hero"/>
								</div>
								<div class="col-xs-12">
									<div id="winrates">
										{% for hero in hero_stats %}
											{% set roles = hero.hero | lower | get_hero_roles %}
											{% set name = hero.hero %}
												<div class="col-md-3 mix {% for r in roles.split(',') %}{{ r | lower }}{% endfor %} {{ name }}"
													 data-order="{{'%0.2f'| format(hero.winrate)}}"
													 data-name="{{ name }}"
													 data-games="{{ hero.games }}"
													 data-kills="{{ hero.kills }}"
													 data-assists="{{ hero.assists }}"
													 data-deaths="{{ hero.deaths }}"
													 data-playrate="{{ hero.playrate }}"
													 data-url="/hero/{{ name | lower }}/">
														<div class="hovereffect">
															<img class="img-responsive" src="/static/img/{{ name | lower }}_splash.png"  alt="">
															<div class="overlay">
																<h2 class="hero-name"> {{ name }} </h2>

																<dl class="dl-horizontal">
																	<dt>Win rate </dt>
																	<dd>{{'%0.2f'| format(hero.winrate)}} <small> % </small></dd>
																	<dt>Pick rate</dt>
																	<dd>{{'%0.2f'| format(hero.playrate)}} <small> % </small></dd>
																	<dt>Games</dt>
																	<dd>{{ hero.games }}</dd>
																	<dt>Kills / Deaths / Assists</dt>
																	<dd> {{ hero.kills }} / {{ hero.deaths }} / {{ hero.assists }} </dd>
																</dl>
															</div>
														</div>
												</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- END CONTENT -->
{% endblock %}


{% block js %}
<!-- BEGIN JAVASCRIPT -->
<script src="/static/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/static/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/libs/spin.js/spin.min.js"></script>
<script src="/static/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="/static/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/static/js/core/source/App.js"></script>
<script src="/static/js/core/source/AppNavigation.js"></script>
<script src="/static/js/core/source/AppCard.js"></script>
<script src="/static/js/core/source/AppNavSearch.js"></script>
<script src="/static/js/core/source/AppVendor.js"></script>
<script src="/static/js/libs/toastr/toastr.js"></script>
<script src="/static/js/libs/countup/countUp.js"></script>
<script src="/static/js/libs/d3/d3.min.js"></script>
<script src="/static/js/libs/d3/d3.v3.js"></script>
<script src="/static/js/libs/raphael/raphael-min.js"></script>
<script src="/static/js/libs/morris.js/morris.min.js"></script>
<script src="/static/js/libs/rickshaw/rickshaw.min.js"></script>
<script src="/static/js/libs/mixitup.min.js"></script>
<script src="/static/js/libs/DataTables/jquery.dataTables.min.js"></script>
<script src="/static/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
<script src="/static/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script>
$(function() {
	var options = {
	  useEasing : true,
	  useGrouping : true,
	  separator : ',',
	  decimal : '.',
	  prefix : '',
	  suffix : ''
	};
	var demo = new CountUp("games", 0, {{ games }}, 0, 2.5, options);
	var demo1 = new CountUp("players", 0, {{ players }}, 0, 2.5, options);
	var demo2 = new CountUp("krakens", 0, {{ krakens }}, 0, 2.5, options);
	var demo3 = new CountUp("duration", 0, {{ '%0.2f'| format(duration | convert_time) }}, 0, 2.5, options);
	demo.start();
	demo1.start();
	demo2.start();
	demo3.start();

	var mixer = mixitup('#winrates', {
		load: {
		   sort: 'order:desc'
		},
		selectors: {
			target: '.mix',
			control: '.filter'
		},
		"animation": {
			"duration": 250,
			"nudge": true,
			"reverseOut": false,
			"effects": "fade translateZ(-100px)"
		}
	});

	var inputText;
	var $matching = $();

	// Delay function
	var delay = (function(){
		var timer = 0;
		return function(callback, ms){
	  		clearTimeout (timer);
	  		timer = setTimeout(callback, ms);
		};
	})();

	$("#filter").keyup(function(){
    	// Delay function invoked to make sure user stopped typing
    	delay(function(){
      		inputText = $("#filter").val().toLowerCase();

			// Check to see if input field is empty
			if ((inputText.length) > 0) {
        		$( '.mix').each(function() {
          			$this = $("this");

           			// add item to be filtered out if input text matches items inside the title
           			if($(this).data("name").toLowerCase().match(inputText)) {
            			$matching = $matching.add(this);
          			} else {
            			// removes any previously matched item
            			$matching = $matching.not(this);
          			}
        		});

        		$("#winrates").mixItUp('filter', $matching);
      		} else {
        		// resets the filter to show all item if input is empty
        		$("#winrates").mixItUp('filter', 'all');
      		}
    	}, 200 );
  	});

	$("#winrates .mix").click(function() {
		window.location.href = $(this).data( "url" );
	});



});
</script>
{% endblock %}

