{% extends "layout.html" %}
{% block title %} fact {% endblock %}

{% block css %}{% endblock %}

{% block content %}

<html>
<head>
<style>
.center {
    position: center;
    right: 50%;
    left: 50%;
    margin: auto;
    width: 50%;
    border: 3px solid #000000;
    padding: 50px;
}
</style>
</head>
</html>

	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-body  contain-lg">
				<div class="row">
					<div class="col-xs-12"
    					<div class="col-md-3 col-sm-6">
    						<h2 class="text-light text-center">Random Fact generator</h2>
                            	<div class="center">
                            	    <div id="content">
                            	        <strong class="text-xl"></strong
                            	        <h1 class="text-small text-center">rijke test</h1>
                                	</div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- END CONTENT -->
{% endblock %}