{% extends "layout.html" %}
{% block title %} Fact {% endblock %}

{% block css %}{% endblock %}

{% block content %}

	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-body  contain-lg">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="text-light text-center">Random Fact generator</h1>
						<h2 class="text-center"><span class="text-xl">ola </span></h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- END CONTENT -->
{% endblock %}