{% extends "layout.html" %}
{% block title %} Fact {% endblock %}

{% block css %}
<style>
.icon-refresh-animate {
	animation-name: rotateThis;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

</style>
{% endblock %}

{% block content %}

	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-body  contain-lg">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="text-light text-center">Did you know that<button id="update" type="button" class="btn ink-reaction btn-icon-toggle btn-primary pull-right"><i class="fa fa-refresh icon-refresh"></i></button></h1>
						<h2 class="text-center"><span id="result" class="text-xl"></span></h2>

                    </div>
                </div>
            </div>
        </section>
    </div>


<!-- END CONTENT -->
{% endblock %}

{% block js %}
<script>
function getFact() {
	$.ajax({
		url: '/ajax_fact',
		type: 'GET',
		success: function(response) {
			$("#result").html(response.fact + "?");
		},
		error: function(error) {
			console.log(error);
		}
	});
}

$(document).ready(function() {
	getFact();

	$('#update').click(function() {
	        var $icon = $( this ).find( ".icon-refresh" ),
          animateClass = "icon-refresh-animate";

        $icon.addClass( animateClass );

		getFact();

		window.setTimeout( function() {
          $icon.removeClass( animateClass );
        }, 500 );
	});
});
</script>
{% endblock %}