{% extends "layout.html" %}
{% block title %} {{ hero|title  }} {% endblock %}
{% block css %}
 	<link type="text/css" rel="stylesheet" href="/static/css/theme-default/libs/rickshaw/rickshaw.css?1422792967" />
	<link type="text/css" rel="stylesheet" href="/static/css/theme-default/libs/morris/morris.core.css?1420463396" />
	<style>
        .hero-icon img {
        	width: 40px;
    		height: 40px;
    		border-radius: 40px;
        }

        .item-icon {
        	width: 40px;
    		height: 40px;
    		border-radius: 40px;
        }

        h3 small {
        	color: #ffffff;
        }
        .icon-row {
        	margin-bottom: 24px;
        }
    </style>
{% endblock %}
{% block content %}

	<!-- BEGIN CONTENT-->
		<div id="content">

			<!-- BEGIN HERO HEADER -->
			<section class="full-bleed">
				<div class="section-body style-default-dark force-padding text-shadow">
					<div class="img-backdrop" style="background-image: url('/static/img/{{ hero|lower }}_splash.png')"></div>
					<div class="overlay overlay-shade-top stick-top-left height-3"></div>
					<div class="row">
						<div class="col-md-3 col-xs-5">
							<img class="img-circle border-white border-xl img-responsive auto-width" src="/static/img/{{ hero|lower }}.png" alt="" />
							<h3> {{ hero|title }} <br/><small>{{ hero|get_hero_roles }}</small></h3>
						</div>
						<div class="col-md-9 col-xs-7">
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ matches_played }}</strong><br/>
								<span class="text-light opacity-75">Games</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{'%0.2f'| format((matches_won / matches_played) * 100|float)}}</strong>%<br/>
								<span class="text-light opacity-75">Winrate</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{'%0.2f'| format(playrate)}}</strong>%<br/>
								<span class="text-light opacity-75">Pickrate</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ kda['assists'] }}</strong><br/>
								<span class="text-light opacity-75">Assists</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ kda['deaths'] }}</strong><br/>
								<span class="text-light opacity-75">Deaths</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ kda['kills'] }}</strong><br/>
								<span class="text-light opacity-75">Kills</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END HERO HEADER  -->

			<section>
				<div class="section-body no-margin">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="card">
								<div class="card-head">
									<header class="text-primary">Most common builds</header>
								</div>
								<div class="card-body height-7 no-padding">
									{% for build, _ in builds %}
										<div class="col-xs-12 icon-row">
										{% for item in build.split(', ') %}
											<div class="col-sm-2 col-xs-4">
												<a class="ink-reaction" data-toggle="tooltip" title="{{ item }}">
													<img class="item-icon" src="/static/img/items/{{ item|lower|replace(' ', '-')|replace('\'', '') }}.png" alt="" />
												</a>
											</div>
										{% endfor %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="card">
								<div class="card-head">
									<header class="text-primary">Most common teammates </header>
								</div>
								<div class="card-body height-7 no-padding">
									<div class="col-xs-12 col-sm-6">
										{% for team, _ in teammates %}
											<div class="col-xs-12 icon-row">
												{% for actor in team.split(', ') %}
													<div class="col-xs-4">
														<a class="ink-reaction" href="/hero/{{ actor|lower }}" data-toggle="tooltip" title="{{ actor }}">
															<img class="item-icon" src="/static/img/{{ actor|lower }}.png" alt="" />
														</a>
													</div>
												{% endfor %}
											</div>
										{% endfor %}
									</div>
									<div class="col-xs-12 col-sm-6">
										<div id="common-teammates" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4">
							<div class="card">
								<div class="card-head">
									<header class="text-primary">Most common enemy compositions</header>
								</div>
								<div class="card-body height-7 no-padding">
									<div class="col-xs-12 col-sm-6">
										{% for team, _ in enemies %}
											<div class="col-xs-12 icon-row">
												{% for actor in team.split(', ') %}
													<div class="col-xs-4">
														<a class="ink-reaction" href="/hero/{{ actor|lower }}" data-toggle="tooltip" title="{{ actor }}">
															<img class="item-icon" src="/static/img/{{ actor|lower }}.png" alt="" />
														</a>
													</div>
												{% endfor %}
											</div>
										{% endfor %}
									</div>
									<div class="col-xs-12 col-sm-6">
										<div id="common-enemies" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<!-- BEGIN BEST PLAYERS -->
						<div class="col-lg-8 col-xs-12">
							<h2>Best {{ hero|title }} players </h2>
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Games</th>
										<th>Wins</th>
										<th>Winrate</th>
										<th class="text-right">Links</th>
									</tr>
								</thead>
								<tbody>
									{% for p,v in players %}
										<tr>
											<td> {{ loop.index }} </td>
											<td> {{ p }}</td>
											<td> {{ v['total'] }} </td>
											<td> {{ v['win'] }} </td>
											<td> {{'%0.2f'| format(v['ratio'])}}% </td>
											<td class="text-right">
												<button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="vain.gg" data-url="http://vain.gg/#/eu/{{p}}"><i class="fa fa-share-square-o"></i></button>
												<button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="vgminer" data-url="http://www.vgminer.com/DataMine/PlayerData?playerName={{p}}&region=EU"><i class="fa fa-share"></i></button>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- END BEST PLAYERS -->

						<div class="col-lg-offset-1 col-lg-3 col-xs-12">
							<div class="card">
								<div id="roles" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
							</div>
							<div class="card">
								<div id="buildpath" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
							</div>
							<div class="card">
								<div id="skins" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
							</div>
							<div class="card">
								<div id="cs" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

{% endblock %}

{% block js %}
<!-- BEGIN JAVASCRIPT -->
<script src="/static/js/libs/d3.min.js"></script>
<script src="/static/js/libs/d3.v3.js"></script>
<script src="/static/js/libs/raphael-min.js"></script>
<script src="/static/js/libs/morris.min.js"></script>
<script src="/static/js/libs/rickshaw.min.js"></script>
<script src="/static/js/libs/toastr.js"></script>
<script src="/static/js/libs/countUp.js"></script>
<script>
$(function() {
    console.log( "ready!" );
	$("table .btn-icon-toggle").click(function() {
	 	window.open($(this).data('url'), '_blank');
	 });

	 if ($('#common-teammates').length > 0) {
		Morris.Donut({
			element: 'common-teammates',
			data: [
				 {% for hero, n in single_teammates %}
				        {value: {{ n }}, label: '{{ hero }}', formatted: '{{ n }} games'} {% if not loop.last %},{%endif%}
				    {% endfor %}
			],
			colors: $('#common-teammates').data('colors').split(','),
			formatter: function (x, data) {
				return data.formatted;
			}
		});
	}

	if ($('#common-enemies').length > 0) {
		Morris.Donut({
			element: 'common-enemies',
			data: [
				 {% for hero, n in single_enemies %}
				        {value: {{ n }}, label: '{{ hero }}', formatted: '{{ n }} games'} {% if not loop.last %},{%endif%}
				    {% endfor %}
			],
			colors: $('#common-enemies').data('colors').split(','),
			formatter: function (x, data) {
				return data.formatted;
			}
		});
	}

	if ($('#cs').length > 0) {
		Morris.Donut({
			element: 'cs',
			data: [
				 {% for i, n in cs.iteritems() %}
				        {value: {{ n }}, label: '{{ i|title }}', formatted: '{{ n }} minions'} {% if not loop.last %},{%endif%}
				    {% endfor %}
			],
			colors: $('#cs').data('colors').split(','),
			formatter: function (x, data) {
				return data.formatted;
			}
		});
	}

	if ($('#skins').length > 0) {
		Morris.Donut({
			element: 'skins',
			data: [
				 {% for i, n in skins %}
				        {value: {{ n }}, label: '{{ i|title }}', formatted: '{{ n }} games'} {% if not loop.last %},{%endif%}
				    {% endfor %}
			],
			colors: $('#skins').data('colors').split(','),
			formatter: function (x, data) {
				return data.formatted;
			}
		});
	}

	if ($('#roles').length > 0) {
		Morris.Donut({
			element: 'roles',
			data: [
				 {% for i, n in roles_played.iteritems() %}
				        {value: {{ n }}, label: '{{ i|title }}', formatted: '{{ n }} games'} {% if not loop.last %},{%endif%}
				    {% endfor %}
			],
			colors: $('#roles').data('colors').split(','),
			formatter: function (x, data) {
				return data.formatted;
			}
		});
	}

	if ($('#buildpath').length > 0) {
		Morris.Donut({
			element: 'buildpath',
			data: [
				 {% for i, n in buildpaths.iteritems() %}
				        {value: {{ n }}, label: '{{ i|buildpath_to_str }}', formatted: '{{ n }} games'} {% if not loop.last %},{%endif%}
				    {% endfor %}
			],
			colors: $('#buildpath').data('colors').split(','),
			formatter: function (x, data) {
				return data.formatted;
			}
		});
	}
});
</script>

<!-- END JAVASCRIPT -->
{% endblock %}