{% extends "layout.html" %}
{% block title %} {{ hero|title  }} {% endblock %}
{% block css %}
	<style>
        .hero-icon img {
        	width: 40px;
    		height: 40px;
    		border-radius: 40px;
        }
    </style>
{% endblock %}
{% block content %}

	<!-- BEGIN CONTENT-->
		<div id="content">

			<!-- BEGIN HERO HEADER -->
			<section class="full-bleed">
				<div class="section-body style-default-dark force-padding text-shadow">
					<div class="img-backdrop" style="background-image: url('/static/img/{{ hero|lower }}_splash.png')"></div>
					<div class="overlay overlay-shade-top stick-top-left height-3"></div>
					<div class="row">
						<div class="col-md-3 col-xs-5">
							<img class="img-circle border-white border-xl img-responsive auto-width" src="/static/img/{{ hero|lower }}.png" alt="" />
							<h3> {{ hero|title }} <br/><small>Jungle, protector</small></h3>
						</div>
						<div class="col-md-9 col-xs-7">
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ matches_played }}</strong><br/>
								<span class="text-light opacity-75">Games</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{'%0.2f'| format((matches_won / matches_played) * 100|float)}}</strong>%<br/>
								<span class="text-light opacity-75">Winrate</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ kda['assists'] }}</strong><br/>
								<span class="text-light opacity-75">Assists</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ kda['deaths'] }}</strong><br/>
								<span class="text-light opacity-75">Deaths</span>
							</div>
							<div class="width-3 text-center pull-right">
								<strong class="text-xl">{{ kda['kills'] }}</strong><br/>
								<span class="text-light opacity-75">Kills</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END HERO HEADER  -->

			<section>
				<div class="section-body no-margin">
					<div class="row">
						<div class="col-lg-8 col-xs-12">
							<h2>Best {{ hero|title }} players </h2>

							<table id="best_players" class="table table-striped table-hover no-margin">
								<thead>
									<tr>
										<th>#</th>
										<th>Player</th>
										<th>Games</th>
										<th>Wins</th>
										<th>Winrate%</th>
									</tr>
								</thead>
								<tbody>
									{% for p, v in players %}
										<tr data-url="http://alpha.vain.gg/#/{{p}}">
											<td> {{ loop.index }} </td>
											<td> {{ p }}</td>
											<td> {{ v['total'] }}</td>
											<td> {{ v['win'] }}</td>
											<td> {{'%0.2f'| format(v['ratio'])}}% </td>

										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- END BEST PLAYERS -->

						<!-- BEGIN HERO SIDEBAR -->
						<div class="col-lg-offset-1 col-lg-3 col-xs-12">
							<div class="card card-underline style-default-dark">
								<div class="card-head">
									<header class="opacity-75"><small>Most common builds</small></header>
								</div>
								<div class="card-body no-padding">
									<ul class="list">
										{% for build, _ in builds %}
											<li class="tile">
											{% for item in build.split(', ') %}
												<a class="tile-content ink-reaction" data-toggle="tooltip" title="{{ item }}">
													<div class="tile-icon hero-icon">
														<img src="/static/img/items/{{ item|lower|replace(' ', '-')|replace('\'', '') }}.png" alt="" />
													</div>
												</a>
											{% endfor %}
											</li>
											<li class="divider-inset"></li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="card card-underline style-default-dark">
								<div class="card-head">
									<header class="opacity-75"><small>Most common team compositions</small></header>
								</div>
								<div class="card-body no-padding">
									<ul class="list">
										{% for team, _ in teammates %}
											<li class="tile">
												{% for actor in team.split(', ') %}
													<a class="tile-content ink-reaction" href="hero/{{ actor|lower }}">
														<div class="tile-icon hero-icon">
															<img src="/static/img/{{ actor|lower }}.png" alt="" />
														</div>
														<div class="tile-text">
															{{ actor }}
															<small>Protector</small>
														</div>
													</a>
												{% endfor %}
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="card card-underline style-default-dark">
								<div class="card-head">
									<header class="opacity-75"><small>Most common enemy compositions</small></header>
								</div>
								<div class="card-body no-padding hero-icon">
									<ul class="list">
										{% for team, _ in enemies %}
											<li class="tile">
												{% for actor in team.split(', ') %}
													<a class="tile-content ink-reaction" href="hero/{{ actor|lower }}">
														<div class="tile-icon hero-icon">
															<img src="/static/img/{{ actor|lower }}.png" alt="" />
														</div>
														<div class="tile-text">
															{{ actor }}
															<small>Protector</small>
														</div>
													</a>
												{% endfor %}
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						<!-- END HERO SIDEBAR -->

					</div>
				</div>
			</section>
		</div>

{% endblock %}

{% block js %}
<!-- BEGIN JAVASCRIPT -->
<script src="/static/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/static/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/libs/spin.js/spin.min.js"></script>
<script src="/static/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="/static/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/static/js/core/source/App.js"></script>
<script src="/static/js/core/source/AppNavigation.js"></script>
<script src="/static/js/core/source/AppOffcanvas.js"></script>
<script src="/static/js/core/source/AppCard.js"></script>
<script src="/static/js/core/source/AppForm.js"></script>
<script src="/static/js/core/source/AppNavSearch.js"></script>
<script src="/static/js/core/source/AppVendor.js"></script>
<script src="/static/js/libs/toastr/toastr.js"></script>
<script src="/static/js/libs/countup/countUp.js"></script>
<script>
$(function() {
    console.log( "ready!" );

	/**
	var options = {
	  useEasing : true,
	  useGrouping : true,
	  separator : ',',
	  decimal : '.',
	  prefix : '',
	  suffix : ''
	};
	var demo = new CountUp("myTargetElement", 0, 108, 0, 2.5, options);
	demo.start(); */

	$("#best_players tr").click(function() {
	 	window.open($(this).data('url'), '_blank');
	 });
});
</script>

<!-- END JAVASCRIPT -->
{% endblock %}