{% extends "layout.html" %}
{% block title %} Telemetry {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
	<!-- BEGIN CONTENT-->
	<div id="content">

		<section>

			<div class="section-body">
				<div class="container">
							<h2 class="text-light text-center">Heatmaps Proof of Concept</h2>
							<br>

							<!-- BEGIN FIXED TIMELINE -->
							<ul class="timeline collapse-lg timeline-hairline">
								<li class="timeline-inverted">
									<div class="timeline-circ circ-xl style-primary"><i class="fa fa-dot-circle-o"></i></div>
									<div class="timeline-entry">
										<div class="card style-default-bright">
											<div class="card-body small-padding">
												<img class="img-circle img-responsive pull-left width-1" src="../../assets/img/avatar9.jpg?1404026744" alt="">
												<span class="text-medium"> First <span class="text-primary"> 4 minutes</span></span><br>
												<span class="opacity-50">

												</span>
											</div><!--end .card-body -->
											<div class="card-body telemtry_map">
												<canvas class="heatmap-canvas" id="telemtry_map" width="840" height="400"></canvas>
											</div>
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
								<li>
									<div class="timeline-circ circ-xl style-accent"><i class="fa fa-heartbeat"></i></div>
									<div class="timeline-entry">
										<div class="card style-default-bright">
											<div class="card-body small-padding">
												<img class="img-circle img-responsive pull-left width-1" src="../../assets/img/avatar7.jpg?1404026721" alt="">
												<span class="text-medium"> Jungle <span class="text-primary"> intensified </span></span><br>
												<span class="opacity-50">

												</span>
											</div><!--end .card-body -->
											<div class="card-body telemtry_map2">
												<canvas class="heatmap-canvas" id="telemtry_map2" width="840" height="400"></canvas>
											</div><!--end .card-body -->
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
								<li>
									<div class="timeline-circ circ-xl style-default-dark"><i class="fa fa-globe"></i></div>
									<div class="timeline-entry">
										<div class="card style-default-dark">
											<div class="card-body small-padding">
												<img class="img-circle img-responsive pull-left width-1" src="../../assets/img/avatar7.jpg?1404026721" alt="">
												<span class="text-medium"> Kraken <span class="text-primary"> awakened </span></span><br>
												<span class="opacity-50">
												</span>
											</div><!--end .card-body -->
											<div class="card-body telemtry_map3">
												<canvas class="heatmap-canvas" id="telemtry_map3" width="840" height="400"></canvas>
											</div><!--end .card-body -->
										</div><!--end .card -->
									</div><!--end .timeline-entry -->
								</li>
							</ul>
							<!-- END FIXED TIMELINE -->

						</div>
			</div>


		</section>
	</div>
	<!-- END CONTENT -->
{% endblock %}


{% block js %}
<!-- BEGIN JAVASCRIPT -->
<script src="/static/telemetry/data.js"></script>
<script src="/static/js/libs/heatmap.min.js"></script>

<script>

var points = [];
var max = 0;
var width = 840;
var height = 400;

var container = "telemtry_map";
var canvas = document.getElementById(container);
var context = canvas.getContext('2d');

// the radius of the circles that will represent kills
var radius = 6;
var minion_radius = 4;

start_time = new Date(data[0].time).getTime() / 1000
end_time = new Date(data.slice(-1)[0].time).getTime() / 1000

function drawHeatmap(context, heatmapInstance, timespan) {
	for (i = 0; i < data.length; i++) {
		item = data[i];

		var time = new Date(item.time).getTime() / 1000;
		// calculate the time difference
		var diffMs = (time - start_time);
		var diffMins = Math.floor(diffMs/60);

		if (diffMins < timespan && (item.type == "KillActor" || item.type == "NPCkillNPC") ) {
			x = transformX(item.payload.Position[0]);
			y = transformY(item.payload.Position[2]);

			if (item.payload.TargetIsHero && item.type == "KillActor") {
				context.beginPath();
				context.arc(x, y, radius, 0, 2 * Math.PI, false);
				context.fillStyle = 'black';
				context.fill();
				context.stroke();

				var val = Math.floor(Math.random()*100);
				max = Math.max(max, val);
				var point = {
					x: x,
					y: y,
					value: val
				};
			  points.push(point);
			} else {
				context.beginPath();
				context.arc(x, y, minion_radius, 0, 2 * Math.PI, false);
				context.fillStyle = "white";
				context.fill();
				context.stroke();

				var val = Math.floor(Math.random()*timespan);
				max = Math.max(max, val);
				var point = {
					x: x,
					y: y,
					value: val
				};
			  points.push(point);
			}
		}
	}

	// heatmap data format
	var heatmap_data = {
	  max: max,
	  data: points
	};
	// if you have a set of datapoints always use setData instead of addData
	// for data initialization
	heatmapInstance.setData(heatmap_data);
}

// Transform the telemetry X coordinate to fit the correct map scaling
function transformX(x) {
	return (x - -93) * (width / 185);
}

// Transform the telemetry Y coordinate to fit the correct map scaling
function transformY(y) {
	return (y - -25) * (height / 75);
}

// Add a jquery ui slider and interact with it
$(document).ready(function () {
	var containers = {telemtry_map: 4, telemtry_map2: 15, telemtry_map3: 999};

	$.each(containers, function (key, val) {
		var canvas = document.getElementById(key);
		var context = canvas.getContext('2d');

		var heatmapInstance = h337.create({
		  // only container is required, the rest will be defaults
		  container: document.querySelector('.'+key)
		});

		console.log("#"+key);

		var imageObj = new Image();
    	imageObj.onload = function() {
			// Add the image to the canvas
			context.drawImage(imageObj, 0, 0, width, height);
			drawHeatmap(context, heatmapInstance, val);
		};
    	imageObj.src = '/static/img/vainglory-map.png';
	});




});

</script>
{% endblock %}

